<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link rel="stylesheet" href="/styles.css" />
  <title>Mythical Pet Adoption</title>
</head>

<body>
  <div id="admin" class="content">
    <h1>Mythical Pet Adoption: Admin</h1>
    <div class="heading">
      <div class="circle"></div>
      <h2>New Pet Profile</h2>
    </div>
    <div class="add">
      <div class="form">
        <input v-model="name" placeholder="Name">
        <input v-model="species" placeholder="Species">
        <input v-model="att" placeholder="Attribute">
        <button @click="addAtt">Add Attribute</button>
        <p></p>
        <input type="file" name="photo" @change="fileChanged">
        <button @click="create">Create</button>
      </div>
      <div class="create" v-if="pet">
        <h2>{{pet.name}}</h2>
        <img :src="pet.path" />
      </div>
    </div>
  </div>  

  <div class="footer">
    <a href="https://github.com/summerjhw/pet-adoption"> | GitHub Repository</a>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js" integrity="sha256-mpnrJ5DpEZZkwkE1ZgkEQQJW/46CSEh/STrZKOB/qoM="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.7/vue.js" integrity="sha256-g+Q8DFAmG5+eyRPSydX0LY4TfjsL11XSDrIGerbbEdA="
    crossorigin="anonymous"></script>
  <script src="/admin.js"></script>

</body>

</html>