#app button {
  background-color: rgb(22, 88, 103); 
  border: none;
  color:whitesmoke;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.1s;
}

#app button:hover {
  background-color: #58DFFF; 
  color: white;
}

.profLink {
  padding-left:12em;
  font-size:20;
  -moz-box-shadow: 3px 4px 0px 0px #899599;
	-webkit-box-shadow: 3px 4px 0px 0px #899599;
	box-shadow: 3px 4px 0px 0px #899599;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #bab1ba));
	background:-moz-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:-webkit-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:-o-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:-ms-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#bab1ba',GradientType=0);
	background-color:#ededed;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#3a8a9e;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}
.profLink:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bab1ba), color-stop(1, #ededed));
	background:-moz-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:-webkit-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:-o-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:-ms-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bab1ba', endColorstr='#ededed',GradientType=0);
	background-color:#bab1ba;
}
.profLink:active {
	position:relative;
	top:1px;
}

#profile button {
  background-color: #888; 
  border: none;
  color:#ff9;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  transition-duration: 0.1s;
}
#profile button:hover {
  background-color: rgb(26, 243, 120); 
  color: white;
}

/* Form */
input, textarea, select, button {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
}

/* Content */
.content {
  padding: 20px 100px 0px 100px;
}

.form {
  margin-right: 50px;
}

.actions {
  margin:1em;
}

.add, .edit {
  display: flex;
  margin-bottom:3em;
  padding:1em;
  border-bottom:1px;
  border-color:black;
}


/* Uploaded images */
.change h2 {
  margin: 0px;
}

.change img {
  max-width: 300px;
}

/* Suggestions */
.suggestions {
  width: 200px;
  border: 1px solid #ccc;
}

.suggestion {
  min-height: 20px;
}

.suggestion:hover {
  background-color: #5BDEFF;
  color: #fff;
}
  
.heading {
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .create h2 {
    margin: 0px;
  }
  
  .create img {
    max-width: 300px;
  }


  .header {
    display: flex;
    padding: 20px 100px 0px 100px;
    background-color: rgb(92, 236, 121);
    color: rgb(210, 243, 234);
  }

  .profHeader{
    background-color:#888;
    padding-bottom:2em;

  }
  #profile .logo img {
    width: 70px;
  }

  .profHeader a {
    color:#ff9;

  }

  .logo img {
    width:70px;
    margin-right:1em;
  }


  /* Masonry */
html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  .image-gallery {
    column-gap: 1.5em;
  }
  
  .image {
    margin: 0 0 3em;
    display: inline-block;
    width: 100%;
  }
  
  .image img {
    width: 100%;
  }

  .img {
    width: 100%;
  }

  .preview img {
    width: 250px;
  }
  
  /* Masonry on large screens */
  @media only screen and (min-width: 1024px) {
    .image-gallery {
      column-count: 2;
    }
  }

  .pet {
    padding: 2em;
    margin: 2em;
  }
  
  /* Masonry on medium-sized screens */
  @media only screen and (max-width: 1023px) and (min-width: 768px) {
    .image-gallery {
      column-count: 2;
    }
  }
  
  /* Masonry on small screens */
  @media only screen and (max-width: 767px) and (min-width: 540px) {
    .image-gallery {
      column-count: 2;
    }
  }

  .circle {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 8px;
    background: #333;
    color: #fff;
    text-align: center;
  }

  #profile img{
    width: 500px;
    margin:2em;
  }

  #profile {
    text-align:center;
    background: rgb(82, 83, 40);
    color:#ff9;
    margin-bottom:4em;
    padding-bottom: 3em;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#f7f9fd9e;
    color: rgb(250, 6, 6);
    text-align: center;
  }

  .attr {
    padding-left:27em;
  }

  .description{
    padding-left:30em;
    padding-right:30em;
    margin:1em;
    text-align:left;
  }

