/* Form */
input, textarea, select, button {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
}

/* Content */
.content {
  padding: 20px 100px 0px 100px;
}

.form {
  margin-right: 50px;
}

.actions {
  margin:1em;
}

.add, .edit {
  display: flex;
  margin-bottom:3em;
  padding:1em;
  border-bottom:1px;
  border-color:black;
}


/* Uploaded images */
.change h2 {
  margin: 0px;
}

.change img {
  max-width: 300px;
}

/* Suggestions */
.suggestions {
  width: 200px;
  border: 1px solid #ccc;
}

.suggestion {
  min-height: 20px;
}

.suggestion:hover {
  background-color: #5BDEFF;
  color: #fff;
}
  
.heading {
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .create h2 {
    margin: 0px;
  }
  
  .create img {
    max-width: 300px;
  }


  .header {
    display: flex;
    padding: 20px 100px 0px 100px;
    background-color: rgb(92, 236, 121);
    color: rgb(210, 243, 234);
  }

  .profHeader{
    background-color:#888;
    padding-bottom:2em;

  }
  #profile .logo img {
    width: 70px;
  }

  .profHeader a {
    color:#ff9;

  }

  .logo img {
    width:70px;
    margin-right:1em;
  }


  /* Masonry */
html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  .image-gallery {
    column-gap: 1.5em;
  }
  
  .image {
    margin: 0 0 3em;
    display: inline-block;
    width: 100%;
  }
  
  .image img {
    width: 100%;
  }

  .img {
    width: 100%;
  }

  .preview img {
    width: 250px;
  }
  
  /* Masonry on large screens */
  @media only screen and (min-width: 1024px) {
    .image-gallery {
      column-count: 2;
    }
  }

  .pet {
    padding: 2em;
    margin: 2em;
  }
  
  /* Masonry on medium-sized screens */
  @media only screen and (max-width: 1023px) and (min-width: 768px) {
    .image-gallery {
      column-count: 2;
    }
  }
  
  /* Masonry on small screens */
  @media only screen and (max-width: 767px) and (min-width: 540px) {
    .image-gallery {
      column-count: 2;
    }
  }

  .circle {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 8px;
    background: #333;
    color: #fff;
    text-align: center;
  }

  #profile img{
    width: 500px;
    margin:2em;
  }

  #profile {
    text-align:center;
    background: rgb(82, 83, 40);
    color:#ff9;
    margin-bottom:4em;
    padding-bottom: 3em;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#f7f9fd9e;
    color: rgb(250, 6, 6);
    text-align: center;
  }

  .attr {
    padding-left:27em;
  }

  .description{
    padding-left:30em;
    padding-right:30em;
    margin:1em;
    text-align:left;
  }
